body{
    background-color:#1e1e1e;
    color: #4fb3d1  ;
    font-family: "Chakra Petch", sans-serif;
 }
 .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
 }
 .titulo{
    text-align: left;
    width: 100%;
    font-size: 35px;
 }
 .titulo span{
    color: #5454ce;
 }
 .botao{
    font-family: "Chakra Petch", sans-serif;
    background-color:#221e45;
    color: rgb(61, 160, 199);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 16px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid #da17d0;
    border-left: 2px solid #da17d0;
    border-right: 2px solid #da17d0;
    border-top: none;
 }
 .botao:first-child{
    border-radius:40px 40px 0px 0px;
 }
 .botoes{
    display: block;
 }
 .botao.ativo{
    background-color: #3a375e;
    border-bottom:4px solid greenyellow;
 }
 .abas{
    background-color: rgb(245, 239, 239);
    padding: 40px;
    text-align: center;
    border-radius: 0 0 40px 40px;
 }

 .tempo{
    color: #5ef5dc;
 }
 .texto-titulo{
    font-size: 30px;
 }
 .textos.ativo{
    display: block;
 }
 
 .textos{
    display: none;
 }
 .contador{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .contador-digito{
    padding: 0 16px;
    font-size: 20px;
    color:#3d52c9;
    min-width: 100px;
 }
 .contador-numero{
    font-size: 80px;
    margin: 0;
    color: #1e1e1e;
 }
 @media screen and (min-width:798px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius:40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
 }
 